  
   .open-sans-normal {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
      font-variation-settings:
        "wdth" 100;
}

        
          .head{
            background-image: url(../images/Hero-bg.png)
          }
        
          
          
          
          
          body {
              margin: 0;
              font-family: "Open Sans", sans-serif;
              background-color: #f5f8ff;
              color: #050215;
              font-size: 16px;
          }

          .container {
             
              max-width: 1100px;
              margin: 0 auto;
              padding: 80px 20px;
              
          }

          h1, h2, h3 {
              margin-top: 0;
              font-weight: 800;
              color: black;
          }

          p {
              line-height: 1.7;
              color: #555;
          }

          img {
              max-width: 100%;
              height: auto;
          }

          /*
          ========================================
          Button Styles & Animation 
          ========================================
          */
          .btn {
              background-color: #4335DD;
              color: #FFFFFF;
              border: none;
              padding: 15px 30px;
              border-radius: 8px;
              font-size: 16px;
              font-weight: 600;
              cursor: pointer;
              text-transform: capitalize;
              text-decoration: none;
              display:inline;
              transition: background-color 0.3s ease, transform 0.3s ease;
              
          }

          .btn:hover {
              background-color: #a8a22b;
              transform: translateY(-3px);
              box-shadow: 0 4px 10px ;
          }
         

          /*
          ========================================
          Navbar & Banner Section
          ========================================
          */
          .hero-section {
             
             background-color: white; 
              background-size: cover;
              background-position: top center;
              color: #FFFFFF;
              padding-bottom: 100px;
          }

          .navbar {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 20px;
              max-width: 1100px;
              margin: 0 auto;
          }

          .logo {
              font-size: 28px;
              font-weight: 700;
              text-decoration: none;
              color: blue;
          }
          
          .banner {
              text-align: center;
              padding: 100px 20px;
          }

          .banner h1 {
              font-size: 45px;
              max-width: 600px;
              margin: 0 auto 30px auto;
              color: #252432;
              font-weight: 800;
             
          }

          /*
          ========================================
          3. Action Section
          ========================================
          */
          .action-section {
              display: flex;
              align-items: center;
              gap: 60px;
          }

          .action-text {
              flex: 1;
          }

          .action-text h2 {
              font-size: 42px;
              
          }

          .action-text p {
              font-size: 18px;
              margin-bottom: 30px;
          }

          .action-image {
              border-radius: 40;
              flex: 1;
              text-align: center;
          }
          .action-image img{
                border-radius: 4dvh;
              }
            

          

           /* ======================================== 
               user say section
              ========================================*/
          
          .headline{
            text-align: center;
            font-weight: bold;
          }
          
          .productive-users-section {
              background-color: #EBE9FF;
              margin-left: 150px;
              margin-right: 150px;
              border-radius: 20px;
          }

          .productive-users-section h2 {
              text-align: center;
              font-size: 42px;
              margin-bottom: 60px;
          }

          .stats-container {
              display: flex;
              justify-content: space-around;
              text-align: center;
              gap: 20px;
          }

          .stat-number {
              font-size: 52px;
              font-weight: 700;
              color: #4335DD;
          }

          .stat-subtitle {
              font-size: 16px;
              color: #555;
              margin-top: 5px;
          }

        /* ======================================== 
           Users Feedback Section
          ========================================*/
          
           
          
          .reviews-container {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              text-align:center ;
            
          }

          .container-feedback-section{
            display:flex;
             margin-bottom: 20px;
            margin-left: 161px;
            margin-right: 160px;
            margin-top: 10px;
            padding-left: 10px;
          }
          .review-card{
            background-color: #FFFFFF;
              border: 1px solid #E9ECEF;
              border-radius: 10px;
              padding: 30px;
              
              margin-bottom: 8px;
              font-weight: 800;
          }

          .review-card h3{
              text-align: left;
              font-size: 22px;
              margin-bottom: 2px;
              margin-left: 5px;
          }
          .review-card p{
            text-align: left;
          }


          .web-flow{
          
            margin-left:  170px;
            margin-right: 190px;;
            
          }

          .web-flow img{
            border-radius: 20px;
           
          }
        

          

         /*  Get In Touch Section*/
          
          .contact-section {
              display:flex;
              align-items: flex-start;
              gap: 60px;
          }

          .contact-title {
              flex-basis: 40%;
              margin-top: 160px;
          }

          .contact-title h2 {
              font-size: 48px;
              line-height: 1.2;
          }

          .contact-form-container {
              flex-basis: 60%;
              background: #f9f9f9;
              padding: 40px;
              border-radius: 10px;
          }

          .contact-form-container label {
              display: block;
              margin-bottom: 8px;
              font-weight: 600;
          }

          .contact-form-container input,
          .contact-form-container textarea {
              width: 100%;
              padding: 15px;
              margin-bottom: 20px;
              border: 1px solid #ccc;
              border-radius: 5px;
              
              font-size: 16px;
              box-sizing: border-box;
          }
          
          .contact-form-container input:focus,
          .contact-form-container textarea:focus {
              outline: none;
              border-color: #4335DD;
          }

             .footer-section {
              background-color: #F8F9FA;
              text-align: center;
          }

          .footer-section .logo {
              color: #4335DD;
              text-decoration: none;
              display: inline-block;
              margin-bottom: 20px;
          }

          .footer-section p {
              max-width: 600px;
              margin: 0 auto 30px auto;
          }

          .footer-links a {
              text-decoration: none;
              color: #333;
              margin: 0 15px;
              font-weight: 600;
              
          }

        
          

          .ready-to-focus{
              text-align: center;
          }







          
         
         
          
    